@media print {
    /* Set portrait orientation for printed pages */
    @page {
        size: portrait;
    }
    .btnPrint {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
}

.cell-title {
    font-weight: bold;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px; /* Reduced space */
}
.logo {
    width: 80px; /* Adjust size as needed */
    height: 80px;
    margin-top: -50px;
    margin-left: -10px; /* Less space */
}
.header-content {
    max-width: 400px; /* Keeps text compact */
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 16px; /* Smaller heading */
    margin: 3px 0;
}
h5 {
    margin: 6px 0;
}
p {
    font-size: 12px; /* Smaller text */
    margin: 1px 0;
}

#report-table {
    /* Ensure the table occupies full width and collapses borders */
    width: 100%;
    border-collapse: collapse;
    font-family: 'Calibre', sans-serif; /* Apply font to table */
}

#report-table th, #report-table td {
    font-size: 13px;
    border: 1px solid black; /* Sets the border for table headers and cells */
    padding: 6px; /* Adds some padding inside each cell */
}

#report-table td span {
    text-align: justify;
    margin: 0; /* Remove any extra margin */
}

#advice-table {
    /* Ensure the table occupies full width and collapses borders */
    width: 100%;
    border-collapse: collapse;
    font-family: 'Calibre', sans-serif; /* Apply font to table */
}

#advice-table th, #advice-table td {
    font-size: 16px;
    border: 1px solid black; /* Sets the border for table headers and cells */
    padding: 6px; /* Adds some padding inside each cell */
}

#advice-table td span {
    text-align: justify;
    margin: 0; /* Remove any extra margin */
}

#report-license-table {
    /* Ensure the table occupies full width and collapses borders */
    width: 100%;
    border-collapse: collapse;
    font-family: 'Calibre', sans-serif; /* Apply font to table */
}

#report-license-table th, #report-license-table td {
    font-size: 12px;
    border: 1px solid black;
    padding: 3px;
}

#footer-table {
    width: 100%;
    border: none; /* Removes borders from the footer table */
}

#footer-table th, #footer-table td {
    border: none; /* Ensures no border on footer table headers and cells */
}

.txt-bold {
    font-weight: bold; /* Bold text within elements with class .txt-bold */
}

.txt-center {
    text-align: center; /* Centers text within elements with class .txt-center */
}

.txt-right {
    text-align: right; /* Right text within elements with class .txt-right */
}

.signature-image {
    display: block; 
    margin-bottom: -25px; 
    width: 80px;  /* Fixed width */
    height: 50px; /* Fixed height */
    padding: 0;
}

.signature-container {
    text-align: center; /* Centers the content */
    margin-top: 20px; /* Space above the line */
    margin-bottom: 20px; /* Space below the line */
}
.signature-line {
    border-bottom: 1px solid black; /* Underline style */
    width: 300px; /* Adjust the width as needed */
    display: inline-block; /* Makes the line respect text-align */
}

#category-message {
    padding-bottom: 0;
    margin-bottom: 0; /* Optional, in case there's a margin applied */
}

.cell-text {
    padding-right: 0;
    position: relative;
}

.shared-text {
    border-bottom: 1px solid black;
    display: inline-block;
}

.border-none {
    border: none;
}

/* Footer Form Code */
.form-table {
    width: 30%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 10px;
}
.form-table th, .form-table td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
.form-table th:not(:last-child) {
    background-color: blue;
    color: white;
    border-bottom: 2px solid white;
}
.form-table td {
    background-color: white;
    border-bottom: none;
}
.form-table tr:last-child td {
    border-bottom: 1px solid black;
}
.form-table th {
    white-space: nowrap;
    width: 1px;
}
.no-border {
    border-top: 0;
    border-bottom: 0;
}
.no-border-top {
    border-top: 0;
}
/* Footer Form Code */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer img {
    width: 100%;
    object-fit: contain; /* Ensure the image's aspect ratio is maintained */
}

.header-logo {
    width: 100%;
    object-fit: contain; /* Ensure the image's aspect ratio is maintained */
}

.instruction {
    font-size: 11px;
    text-align: justify;
}